service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{product} {
      allow write: if request.auth != null && request.auth.uid == '4VkuLKG8OMbw6fkOW0RvHalbcy62'
      allow read: if true;
    }
    
    match /navigation/{navigation} {
      allow write: if request.auth != null && request.auth.uid == '4VkuLKG8OMbw6fkOW0RvHalbcy62'
      allow read: if true;
    }
    
    match /designs/{design} {
      allow write: if request.auth != null && request.auth.uid == '4VkuLKG8OMbw6fkOW0RvHalbcy62'
      allow read: if true;
    }
    
    match /favorites/{userId} {
      allow read, write: if true;
    }
    
    match /carts/{userId=**} {
      allow read, write: if true;
    }
    
    match /users/{userId=**} {
      allow read, write: if true;
    }
    
    match /orders/{orderId=**} {
    	allow read, write: if true;
    }
  }
}