/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, dropdown, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, dropdown, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.925rem;
}

button {
	border: none;
	background: none;
	font-family: 'Source Sans Pro', sans-serif;
	cursor: pointer;
}

button:focus {
  outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

strong {
	font-weight: 600;
}

.active {
	opacity: 0;
	transform: translateY(2.5%);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='number']:focus,
input[type='password']:focus {
	outline: none;
}


/* Transitions */

textarea:focus {
	outline: none;
}

.image-preview-enter {
	opacity: 0;
}

.image-preview-enter-active {
	opacity: 1;
	transition: opacity 500ms;
}

.image-preview-exit {
	opacity: 1;
}

.hide {
	max-height: 0;
	overflow: hidden;
}

.dropdown-enter {
	max-height: 0;
	overflow: hidden;
}

.dropdown-enter-active {
	max-height: 25rem;
	transition: all .3s linear;
}

.dropdown-enter-done {
	max-height: 25rem;
	overflow: auto;
}

.dropdown-exit {
	max-height: 25rem;
	overflow: hidden;
	transition: all .3s linear;
}

.dropdown-exit-active {
	max-height: 0;
	transition: all .3s linear;
}

.dropdown-exit-done {
	max-height: 0;
	overflow: hidden;
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity .3s linear;
}

.fade-enter-done {
	opacity: 1;
}